.vs/EjemploAPIRest/v14/.suo
EjemploAPIRest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EjemploAPIRest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EjemploAPIRest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EjemploAPIRest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EjemploAPIRest/EjemploAPIRest.csproj.user
.vs/config/applicationhost.config
EjemploAPIRest/bin/EjemploAPIRest.dll
EjemploAPIRest/bin/EjemploAPIRest.dll.config
EjemploAPIRest/bin/EjemploAPIRest.pdb
EjemploAPIRest/obj/Debug/EjemploAPIRest.csproj.FileListAbsolute.txt
EjemploAPIRest/obj/Debug/EjemploAPIRest.csprojResolveAssemblyReference.cache
EjemploAPIRest/obj/Debug/EjemploAPIRest.dll
EjemploAPIRest/obj/Debug/EjemploAPIRest.pdb
